body {
  background: #60AA85;
  // position: absolute;
  // overflow:hidden;
  // left: 20%;
  font-family: 'Open Sans', sans-serif;
  background: url('./assets/beer.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  @media screen and (min-width: 500px) {
    left: 20%;
  }
}

h1 {
  font-weight: 300;
  max-width: 400px;
  margin: 0 auto 24px;
}

.vertical-align {
  text-align: center;
  height: 100vh;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
  // position: relative;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // -webkit-transform: translateY(-50%);
  // transform: translateY(-50%);
}
input, textarea {
  display: inline-block;
  width: 300px;
  padding: 20px;
  border: none;
  opacity: 1;
  background: rgba(255,255,255,.8);
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  &.error {
    background: rgba(255,255,255,.7);
    border:2px solid rgb(235, 73, 50);
  }
}
button {
 cursor: pointer;
  width: 300px;
  padding: 20px;
  border: none;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  opacity: .8;
  background: url('./assets/beer.jpg');
  background-size: 1770px 630px;
  background-position: -330px -139px;

  text-align: center;
  font-size: 18px;
}
