<head>
  <title>Sam I need a Beer</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="vertical-align">
    <h1>You could probably use a beer, but fuck doing that yourself.</h1>
    {{> beer}}
  </div>
</body>

<template name="beer">
  <form id="getmebeer">
    <input name="name" id="name" placeholder="Friends Name" /><br />
    <input name="number" id="number" placeholder="Friends Number" /><br />
    <textarea name="message" id="message" placeholder="Message"></textarea><br />
    <button type="submit">Dude get me a beer</button>
  </form>
</template>
